In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/cardiovascular-disease-dataset/cardio_train.csv

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv("/kaggle/input/cardiovascular-disease-dataset/cardio_train.csv", sep=";")
df

,id,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,170,72.0,120,80,2,1,0,0,1,0

In [4]:
df.isnull().sum()

id             0
age            0
gender         0
height         0
weight         0
ap_hi          0
ap_lo          0
cholesterol    0
gluc           0
smoke          0
alco           0
active         0
cardio         0
dtype: int64

In [5]:
years= (df['age'] / 365).round().astype('int')
df.insert(3, "years",years)

In [6]:
df

,id,age,gender,years,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,0,18393,2,50,168,62.0,110,80,1,1,0,0,1,0
1,1,20228,1,55,156,85.0,140,90,3,1,0,0,1,1
2,2,18857,1,52,165,64.0,130,70,3,1,0,0,0,1
3,3,17623,2,48,169,82.0,150,100,1,1,0,0,1,1
4,4,17474,1,48,156,56.0,100,60,1,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69995,99993,19240,2,53,168,76.0,120,80,1,1,1,0,1,0
69996,99995,22601,1,62,158,126.0,140,90,2,2,0,0,1,1
69997,99996,19066,2,52,183,105.0,180,90,3,1,0,1,0,1
69998,99998,22431,1,61,163,72.0,135,80,1,2,0,0,0,1
69999,99999,20540,1,56,170,72.0,120,80,2,1,0,0,1,0

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 70000 entries, 0 to 69999
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           70000 non-null  int64
 1   age          70000 non-null  int64
 2   gender       70000 non-null  int64
 3   years        70000 non-null  int64
 4   height       70000 non-null  int64
 5   weight       70000 non-null  float64
 6   ap_hi        70000 non-null  int64
 7   ap_lo        70000 non-null  int64
 8   cholesterol  70000 non-null  int64
 9   gluc         70000 non-null  int64
 10  smoke        70000 non-null  int64
 11  alco         70000 non-null  int64
 12  active       70000 non-null  int64
 13  cardio       70000 non-null  int64
dtypes: float64(1), int64(13)
memory usage: 7.5 MB

In [8]:
df.describe()

,id,age,gender,years,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
count,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000,70000.000000
mean,49972.419900,19468.865814,1.349571,53.338686,164.359229,74.205690,128.817286,96.630414,1.366871,1.226457,0.088129,0.053771,0.803729,0.499700
std,28851.302323,2467.251667,0.476838,6.765294,8.210126,14.395757,154.011419,188.472530,0.680250,0.572270,0.283484,0.225568,0.397179,0.500003
min,0.000000,10798.000000,1.000000,30.000000,55.000000,10.000000,-150.000000,-70.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,25006.750000,17664.000000,1.000000,48.000000,159.000000,65.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
50%,50001.500000,19703.000000,1.000000,54.000000,165.000000,72.000000,120.000000,80.000000,1.000000,1.000000,0.000000,0.000000,1.000000,0.000000
75%,74889.250000,21327.000000,2.000000,58.000000,170.000000,82.000000,140.000000,90.000000,2.000000,1.000000,0.000000,0.000000,1.000000,1.000000
max,99999.000000,23713.000000,2.000000,65.000000,250.000000,200.000000,16020.000000,11000.000000,3.000000,3.000000,1.000000,1.000000,1.000000,1.000000

In [9]:
x=df.iloc[:,2:13]
x

,gender,years,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
0,2,50,168,62.0,110,80,1,1,0,0,1
1,1,55,156,85.0,140,90,3,1,0,0,1
2,1,52,165,64.0,130,70,3,1,0,0,0
3,2,48,169,82.0,150,100,1,1,0,0,1
4,1,48,156,56.0,100,60,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
69995,2,53,168,76.0,120,80,1,1,1,0,1
69996,1,62,158,126.0,140,90,2,2,0,0,1
69997,2,52,183,105.0,180,90,3,1,0,1,0
69998,1,61,163,72.0,135,80,1,2,0,0,0
69999,1,56,170,72.0,120,80,2,1,0,0,1

In [10]:
y=df.iloc[:,13:]
y

       cardio
0           0
1           1
2           1
3           1
4           0
...       ...
69995       0
69996       1
69997       1
69998       1
69999       0

[70000 rows x 1 columns]

In [11]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest=train_test_split(df[["years","gender","height","weight","ap_hi","ap_lo",
                            "cholesterol","gluc","smoke","alco","active"]],df["cardio"],train_size=0.8)

In [12]:
xtrain

,years,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
55035,64,2,159,65.0,160,100,2,3,0,0,1
5656,64,1,161,112.0,140,90,3,1,0,0,1
39286,54,2,167,130.0,120,80,2,3,1,1,0
47760,61,2,170,105.0,140,80,1,1,0,0,1
67754,54,2,165,66.0,140,90,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
45596,57,1,157,68.0,120,80,1,1,0,0,1
21832,54,1,164,73.0,120,80,3,3,0,0,1
673,64,2,170,69.0,120,80,3,3,0,0,1
44647,58,2,177,90.0,140,90,1,1,0,0,1
4939,44,2,169,65.0,110,80,1,1,0,0,1

In [13]:
xtest

,years,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
26801,64,1,147,68.0,140,80,2,1,0,0,0
36315,43,2,183,93.0,130,80,1,1,0,0,1
46546,48,1,165,75.0,130,100,3,1,0,0,1
22750,44,1,170,70.0,110,70,1,1,0,0,1
19035,55,2,166,98.0,120,80,1,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
58482,42,1,153,40.0,110,80,1,1,0,0,1
603,64,1,157,64.0,110,70,1,1,0,0,1
21867,44,1,168,72.0,120,80,2,1,0,0,1
28578,44,1,157,61.0,120,80,1,1,0,0,1
13786,46,1,164,75.0,140,90,3,1,0,0,1

In [14]:
from sklearn.ensemble import RandomForestClassifier
model=RandomForestClassifier()

In [15]:
model.fit(xtrain,ytrain)

RandomForestClassifier()

In [16]:
model.predict(xtest)

array([1, 0, 1, ..., 0, 0, 1])

In [17]:
model.score(xtest,ytest)

0.7037142857142857